<!-- <router-outlet></router-outlet> -->

<input
  type="button"
  [shape]="'rounded'"
  fooButton
  [color]="'primary'"
  [size]="'small'"
  value="Small"
  [style]="'outlined'"
  (click)="smallButtonClicked($event)"
/>

<input
  type="button"
  [shape]="'rounded'"
  fooButton
  [color]="'light'"
  [size]="'small'"
  value="Small"
  [style]="'solid'"
  (click)="smallButtonClicked($event)"
/>

<input
  type="button"
  [disabled]="true"
  [shape]="'rounded'"
  fooButton
  [color]="'success'"
  [size]="'medium'"
  value="Medium Success "
  (click)="smallButtonClicked($event)"
/>
<input
  type="button"
  [disabled]="true"
  [shape]="'rounded'"
  fooButton
  [color]="'info'"
  [size]="'small'"
  value="Small Info"
  (click)="smallButtonClicked($event)"
/>
<input
  [disabled]="true"
  type="button"
  [shape]="'rounded'"
  fooButton
  [color]="'warning'"
  [size]="'small'"
  value="Small Warning"
  (click)="smallButtonClicked($event)"
/>

<input
  [disabled]="true"
  type="button"
  [shape]="'rounded'"
  fooButton
  [color]="'primary'"
  [size]="'large'"
  value="Large Primary"
  (click)="smallButtonClicked($event)"
/>
<input
  type="button"
  [shape]="'pilled'"
  fooButton
  [color]="'light'"
  [size]="'medium'"
  value="Medium Light Pilled "
  (click)="smallButtonClicked($event)"
/>
<input
  type="button"
  [shape]="'rounded'"
  fooButton
  [color]="'danger'"
  [size]="'small'"
  value="Small Danger"
  (click)="smallButtonClicked($event)"
/>
